{% extends "layout.html" %}
{% block content %}
 {% for post in tracktask %}
        <article class="media content-section">
            <div>
		Sent By : <small class="text-muted"><b><font color="blue">{{ post.auth.username }}</font></b></small><br><br>

              <div><h6><font color="green">(Task Accepted)</h6></font></div> <b>Completion Time</b> : {{ post.body }}<br>
              
            </div>
            
        </article>
    {% endfor %}

 {% for post in reject %}
        <article class="media content-section">
            <div>
		Sent By : <small class="text-muted"><b><font color="blue">{{ post.auth.username }}</font></b></small><br><br>

              <div><h6><font color="red">(Task Rejected)</h6></font></div> <b>Reason</b> : {{ post.body }}<br>
            </div>
            
        </article>
    {% endfor %}



{% endblock content %}