{% extends "layout.html" %}
{% block content %}
 {% for post in tracktask %}
        <article class="media content-section">
            <div>
              <h4>Accepted Task Completion Time:</h4> <a class="mr-2" href="#">{{ post.body }}</a><br>
              By User ID:<small class="text-muted">{{ post.auth.username }}</small>
            </div>
            
        </article>
    {% endfor %}

 {% for post in reject %}
        <article class="media content-section">
            <div>
              <h4>Rejected Task (Reason) :</h4> <a class="mr-2" href="#">{{ post.body }}</a><br>
               By User ID: <small class="text-muted">{{ post.auth.username }}</small>
            </div>
            
        </article>
    {% endfor %}



{% endblock content %}