{% extends "layout.html" %}
{% block content %}
{% for task in tasks %}
<div class="content-section">


<b><font color="#092940">Sender:</font></b> {{task.title}}<br>
<b><font color="#092940">Task Assigned:</font></b> {{task.body}}<br><br>





<a type = "button" class="nav-item nav-link" href="{{ url_for('accept') }}">Accept</a><br>
<a type = "button" class="nav-item nav-link" href="{{ url_for('reject') }}"}}">Reject</a><br>




 
</div>
{% endfor %}
{% endblock content %}


