{% extends "layout.html" %}
{% block content %}
<h4> Assign Your Tasks Here ! </h4><br>
<input type="button" value="TESTING" onclick="window.location.href='http://127.0.0.1:5000/home?spec=testing'" />
/
<input type="button" value="DEVELOPMENT" onclick="window.location.href='http://127.0.0.1:5000/home?spec=deveops'" />
<br><br>

<h4>User List</h4>


    {% for user in users%}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('task') }}?user={{ user.username }}">{{ user.username }}</a>
            </div>
            
            <p class="article-content">{{ user.specification }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}


